NODE_ENV=development
PORT=3000

# Kết nối database local với password '123'
DATABASE_URL="postgresql://postgres:123@localhost:5432/ecommerce_2"
JWT_SECRET="XIAXIAHAOLEH"
REFRESH_TOKEN_SECRET="AYOBITCH"
JWT_EXPIRES_IN="7d"
REFRESH_TOKEN_EXPIRES_IN="30d"
CLOUDINARY_NAME=
CLOUDINARY_API_KEY= 
CLOUDINARY_API_SECRET=
PAYOS_CLIENT_ID=
PAYOS_API_KEY=
PAYOS_CHECKSUM_KEY=